* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

#calc-body {
    height: 570px;
    width: 420px;
    border: 20px solid rgb(148, 147, 147);
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

#calc-screen {
    height: 95px;
    border: 5px inset darkgrey;
    background-color: lightgrey;
    font-size: 65px;
    font-weight: 600;
    
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.keypadRow {
    display: flex;
    flex: 1;
    gap: 5px;   
    padding: 0 5px;
    /* border: 1px solid black;  */
}

.keypadRow button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 0 3px lightgrey;
}

/* #zeroBtn {
    flex: 2;
} */

.numberKeys {
    background-color: aquamarine;
}

.arithmeticKeys {
    background-color: darkslateblue;
    color: white;
}

#clearBtn {
    background-color: yellow;
}

#signBtn {
    background-color: blue;
}

#percentBtn {
    background-color: red;
}

#deleteBtn {
    background-color: hotpink;
}

#decimalBtn {
    background-color: darkorange;
}

#equalsBtn {
    background-color: darkgreen;
    color: white;
}


