* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
}

#calc-body {
    height: 600px;
    width: 450px;
    border: 20px solid rgb(148, 147, 147);
    background-color: black;
    border-radius: 10px;
    box-shadow: 8px 8px 10px black;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
}

#calc-screen {
    height: 100px;
    border: 5px inset darkgrey;
    background-color: lightgrey;
    font-size: 65px;
    font-weight: 600;
    background: linear-gradient(to top left, rgb(169, 169, 169, 1), whitesmoke);
    
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.keypadRow {
    display: flex;
    flex: 1;
    gap: 8px;   
    padding: 0 8px;
}

.keypadRow button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 0 3px lightgrey;
}

.keypadRow .arithmeticKeys {
    font-size: 50px;
}

.numberKeys {
    background-color: aquamarine;
}

.numberKeys:active {
    background-color: rgb(9, 209, 143);
}

.arithmeticKeys {
    background-color: darkslateblue;
    color: white;
}

.arithmeticKeys:focus {
    background-color: rgb(58, 2, 115);
}

#clearBtn {
    background-color: yellow;
}

#clearBtn:active {
    background-color: rgb(162, 162, 5);
}

#signBtn {
    background-color: blue;
}

#signBtn:active {
    background-color: rgb(13, 13, 199);
}

#percentBtn {
    background-color: red;
}

#percentBtn:active {
    background-color: rgb(211, 28, 28);
}

#deleteBtn {
    background-color: hotpink;
}

#deleteBtn:active {
    background-color: rgb(232, 70, 151);
}

#decimalBtn {
    background-color: darkorange;
}   

#decimalBtn:active {
    background-color: rgb(196, 114, 13);
}

#equalsBtn {
    background-color: green;
    color: white;
}

#equalsBtn:active {
    background-color: rgb(4, 84, 4);
}


